.trending {
	position: relative;

	display: flex;
	flex-direction: column;
	overflow: hidden;
}

.trending__discover {
	position: absolute;
	top: 44%;
	left: 44%;
	z-index: 1;

	width: 160px;
	height: 160px;

	border-radius: 100%;
	background-color: var(--secondary-color);
	cursor: pointer;

	display: flex;
	justify-content: center;
	align-items: center;
}

.trending__discover:hover {
	background-color: pink;
}

.trending__discover p {
	font-size: 18px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);

	text-transform: uppercase;
	color: #fff;
}

.trending-sushi, .trending-drinks {
	width: 100%;
	min-height: 640px;

	display: flex;
	flex-direction: row;
}

.trending__content {
	flex: 1;
	display: flex;
	justify-content: center;
	flex-direction: column;

	padding: 32px 64px;
}
.text-color {
    color: red;
	text-decoration: underline;
}

.text-color:hover {
    color: blue;
}

.trending__list {
	list-style: none;
	flex-wrap: wrap;
	gap: 20px;
}

.trending__list li {
	flex: 1;
	display: flex;
	align-items: center;
	flex-direction: row;
	gap: 12px;

	min-width: 210px;
}
.trending__icon {
	width: 24px;
	height: 24px;

	border-radius: 100%;
	background-color: var(--primary-color);
}

.trending__icon img {
	width: 50%;
	height: 50%;
	object-fit: contain;
}

.trending__list p {
	flex: 1;
	font-size: 16px;
	font-weight: 500;
	font-family: var(--plus-jakarta-sans);

	color: var(--secondary-color);
}

.trending__image {
	flex: 1;
	
	position: relative;
	padding: 32px 64px;

	background-color: pink;
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
}

.trending-sushi, .trending__image {
	background-image: url("../../assets/japanese_sushi.png");
}

.trending-drink, .trending__image {
	background-image: url("../../assets/japanese_drinks.png");
}

.trending__image img {
	width: 400px;
	height: 400px;
	object-fit: contain;
}

.trending__arrow {
	position: absolute;
	z-index: 1;
}

.trending__arrow img {
	object-fit: contain;
}

.trending__arrow-left {
	left: -2.5px;
	top: 12%;
}

.trending__arrow-left img, .trending__arrow-top img {
	width: auto;
	height: 100%;
}

.trending__arrow-top {
	top: -10.5px;
	left: 12%;
}

.trending__arrow-bottom {
	bottom: -6.5px;
	right: 12%;
}

.trending__arrow-bottom img, .trending__arrow-right img {
	width: 100%;
	height: auto;
}

.trending__arrow-right {
	right: -2.5px;
	bottom: 12%;
}

/*product item*/
.product-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-gap: 10px;
}

.product-tile-footer {
  padding: 15px;
  text-align: center;
}

.product-title {
  font-size: 1.2rem;
  margin-bottom: 10px;
}
.product-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}

.product-price {
  font-size: 1.2rem;
  margin-bottom: 20px;
  font-weight: bold;
}
.cart-action {
  display: flex;
  align-items: center;
  justify-content: center;
}

.product-quantity {
  width: 50px;
  margin-right: 10px;
  text-align: center;
}

.product-item {
  background-color: pink;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 10px 0px 20px rgba(0,0,0,0.1);
  transition: transform 0.3s ease-in-out;
}

.product-item button {
  padding: 8px;

  min-width: 120px;

  font-size: 16px;
  font-weight: 500;
  font-family: var(--plus-jakarta-sans);
  color: #fff;
  text-align: center;

  background: var(--black-400);
  border-radius: 46px;
  border: none;
  outline: none;

  cursor: pointer;
}

.product-item button:hover {
    background-color: pink;
	color: black;
}
